body
{
    background-color: antiquewhite;
}

h2
{
text-align: justify;
color: darkseagreen;
}
image
{
ali
}
table
{
    border-collapse: collapse;
}
tr
{
    text-align: center;
    vertical-align: bottom;
    padding: 10px;
}